<% content_for :body_class, "home-page" %>

<% content_for :canonical do %>
  <%= render "shared/canonical", href: root_url %>
<% end %>

<% provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags",
              social_url: root_url %>
<% end %>

<%= render "header", header: @header %>


  <main> 
    <div class="row margin-bottom margin-top collapse">
      <div class="small-12 column">
        <%= render "feeds" %>
      </div>
    </div>
    <%= render "processes" %>
    

    <% if feature?("user.recommendations") && (@recommended_debates.present? || @recommended_proposals.present?) %>
      <%= render "recommended",
                  recommended_debates: @recommended_debates,
                  recommended_proposals: @recommended_proposals %>
    <% end %>

    <div class="row">
      <div class="small-12 column margin-top">
        <%= render "cards" %>
      </div>
    </div>
<!-- 
    <div class="row">
      <div class="column small-12 margin">
        <h2>Saiba mais sobre o Orçamento Participativo</h2>
      </div>
    </div>
    <div class="row">
      <div class="column small-12 medium-6 margin-bottom">
        <h3>Como funciona</h3>
        <p>Texto de introdução do projeto e link para página de mais informações (aguardar conteúdo). <a href="/help">Saiba mais</a></p>
      </div>
      <div class="column small-12 medium-6 margin-bottom">
        <h3>Encontre sua região</h3>
        <p>Texto explicativo sobre as regiões do OP. <a href="https://www.google.com/maps/d/viewer?mid=1WkIzgmBCHDpYKxc2nkqe0s5qZ6Y&ll=-30.06217785097442%2C-51.17356121286616&z=11" target="_blank">Veja no mapa<span class="show-for-sr"> (link abre em nova janela)</span></a></p>
      </div>
    </div>  -->
  </main>

